<!doctype html>
<html><head><title>Path: {{ tree.name }}</title></head>
<body>
<h1>{{ tree.name }}</h1>
<ul>
{%- for item in tree.children recursive %}
    {%- if item.children -%}
        <li>{{ item.name }}
        <ul>{{ loop(item.children) }}</ul></li>
    {%- else -%}
        <li><a href={{ item.url }}?{{ api_key }}>{{ item.name }}</a> {{ item.meta }}</li>
    {%- endif %}
{%- endfor %}
</ul>
</body>
</html>