<html>
<head>
<title>Interactive Property Potential Revenue Predictor</title></head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
                    {% for message in messages %}
 	<li>{ { message[1] }}</li>
{% endfor %}</ul>
{% endif %}
{% endwith %}

<form action="" method="post">
            &#123; &#123; form.csrf &#125;&#125;
<div class="input text">{ { form.property_type.label }} { { form.property_type }}</div>
<div class="input text">{ { form.latitude.label }} { { form.latitude }}</div>
<div class="input text">{ { form.longitude.label }} { { form.longitude }}</div>
<div class="input text">{ { form.bedrooms.label }} { { form.bedrooms }}</div>
<div class="input text">{ { form.bathrooms.label }} { { form.bathrooms }}</div>
<div class="input text">{ { form.price.label }} { { form.price }}</div>
<div class="input text">{ { form.living_area.label }} { { form.living_area }}</div>
<div class="input text">{ { form.lot_size.label }} { { form.lot_size }}</div>

<div class="input submit">
                <input type="submit" value="Submit"></div>
</form>
</body>
</html>